@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.loader-container {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  z-index: 10;
  visibility: hidden;
  animation: loader-display 2s;
}

.loader-container h1 {
  padding-top: 50px;
  font-size: 50px;
}

@keyframes loader-display {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.loader {
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #89c8fa 95%, #f3f3f3) 50% 1px/12px 12px no-repeat, radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 14px), #f3f3f3 0);
  animation: l9 3s infinite linear;
}

@keyframes l9 {
  to {
    transform: rotate(1turn);
  }
}
contenair {
  justify-content: center;
}

* {
  font-family: "Roboto", sans-serif;
}

.title-shrikhand {
  font-family: "Shrikhand", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  text-align: center;
}

header img {
  width: 162px;
  height: 44px;
  margin-top: 10px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  gap: 15px;
  background: #eaeaea;
  height: 50px;
}

.section-title {
  background: #f6f6f6;
  text-align: center;
  height: 250px;
}

.section-title h2 {
  top: 152px;
  left: 42px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 0;
  padding: 25px 0px 25px 0px;
}

.section-title p {
  top: 220px;
  left: 34px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #353535;
  padding: 0px 0px 30px 0px;
}

.section-title button {
  opacity: 1;
  width: 210px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}
.section-title button.button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.section-title .button {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
}

@media screen and (min-width: 1024px) {
  .section-title {
    height: 210px;
  }
}
.section-fonction {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  height: 370px;
}

.section-fonction h2 {
  text-align: left;
  padding: 30px 0px 30px 30px;
}

.liste-btn {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.section-fonction button {
  width: 80%;
  height: 72.38px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  position: relative;
}

.btn i {
  padding-right: 8%;
  font-size: 1rem;
}

.btn1 {
  color: #7E7E7E;
}

.btn2 {
  color: #7E7E7E;
}

.btn3 {
  color: #9356dc;
}

button .number {
  color: white;
}

.section-fonction span {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  border-radius: 100%;
  color: white;
  background: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .section-fonction h1 {
    padding-left: 10%;
  }
  .liste-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-fonction {
    height: 220px;
  }
  button.btn {
    width: 322px;
  }
}
@media screen and (min-width: 1024px) {
  .section-fonction h2 {
    padding-left: 10%;
  }
  .liste-btn {
    display: flex;
    gap: 30px;
    width: 90%;
    padding-left: 10%;
  }
  button.btn {
    width: 100%;
  }
  .btn i {
    padding-right: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .section-fonction h2 {
    padding-left: 10%;
  }
  .liste-btn {
    display: flex;
    gap: 30px;
    width: 90%;
    padding-left: 10%;
  }
}
.section-restaurants {
  background: #f6f6f6;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.section-restaurants h2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 30px 0px 0px 20px;
  height: 68px;
  padding-right: 65%;
  width: 100%;
}

.card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 251px;
  position: relative;
}

.new {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: absolute;
  right: 5%;
  top: 5%;
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #008766;
  padding: 5px 0px 5px 0px;
}

.all-card {
  display: grid;
  gap: 30px;
  padding: 20px;
  width: 90%;
}

.card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 70%;
  object-fit: cover;
}

.card-content {
  border-radius: 15px;
}

.card-title {
  top: 190px;
  left: 13px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  padding: 5px 0px 0px 15px;
  color: black;
}

.card-text p {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  padding: 5px 0px 10px 15px;
  color: black;
}

.card-like i {
  width: 24px;
  height: 24px;
  left: 85%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.card-like i {
  position: absolute;
  bottom: 10%;
}

.my-heart-full {
  opacity: 0;
}

.my-heart-full:hover {
  opacity: 1;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: effet-opacity 1.5s ease;
}

@media screen and (min-width: 769px) {
  .all-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 40px;
    width: 75%;
  }
  .card img {
    object-fit: cover;
  }
  .card-like {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 85%;
    bottom: 10%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .section-restaurants h2 {
    padding-left: 12%;
  }
  .all-card {
    width: 75%;
    gap: 60px;
  }
  .card img {
    object-fit: cover;
  }
  .card-like {
    left: 85%;
  }
}
@media screen and (min-width: 1440px) {
  .card-like {
    left: 85%;
  }
}
.section-footer {
  background: #353535;
  height: 186px;
  color: white;
}
.section-footer .img {
  width: 137px;
  height: 27px;
  color: white;
  padding: 0px 0px 0px 20px;
  margin-top: 20px;
  filter: brightness(0) invert(1);
}

.list-footer {
  padding: 10px 0px 0px 20px;
}

.footer-item i {
  padding-right: 3%;
}

.footer-item a {
  color: white;
  font-size: 16px;
}

.prop1 {
  margin-right: 5px;
}

footer ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .section-footer {
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5%;
  }
  .section-footer .list-footer {
    width: 60%;
  }
  .section-footer .list-footer ul {
    padding-right: 0;
    align-items: center;
    flex-direction: row;
  }
  .section-footer .list-footer ul li {
    width: 100%;
  }
  .section-footer .list-footer ul li a {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
  }
  .footer-item {
    display: flex;
    gap: 10px;
  }
  .section-footer .img {
    margin: 0;
    width: 139px;
    height: 27px;
  }
}
header.header {
  padding: 0;
}

.header {
  display: flex;
  height: 63px;
  gap: 30%;
}

.header .img {
  width: 162px;
  height: 44px;
  margin-top: 10px;
  object-fit: contain;
}

.header .link-header {
  width: 30px;
  height: 30px;
  text-align: left;
  text-align: center;
  padding: 20px 0px 0px 15px;
}

.img img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .header {
    padding: 0% 35% 0% 0%;
  }
}
@media screen and (min-width: 1024px) {
  header.header {
    padding: 0;
    justify-content: left;
  }
}
.carte {
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: -30px;
}

.menu h1 {
  font-family: Shrikhand;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  padding: 20px 0px 20px 0px;
  margin-left: 10%;
}

.list-menu {
  text-align: left;
  padding: 0px 0px 5px 10px;
  width: 40px;
  padding-left: 0;
  border: 3px;
  border-bottom: 3px solid #99e2d0;
  margin-left: 20px;
  padding-top: 30px;
}

.card-lik i {
  position: absolute;
  left: 85%;
  top: 25px;
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
}

.entrées {
  padding-left: 6%;
}

.plats {
  padding-left: 6%;
}

.dessert {
  padding-left: 6%;
}

.entrées {
  animation: menu-transition 1s;
}

@keyframes menu-transition {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.plats {
  animation: menu-transition 1.8s;
}

@keyframes menu-transition {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}
.dessert {
  animation: menu-transition 2.5s;
}

@keyframes menu-transition {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0px);
  }
}
.list-item h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.list-item {
  font-family: Roboto;
  text-align: left;
  border-radius: 15.04px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  background: #ffffff;
  width: 90%;
  height: 69px;
  border: none;
  padding-left: 10px;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.list-item .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 10px;
  width: 80%;
  transition: all 0.5s;
}
.list-item .description h2, .list-item .description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item p {
  font-size: 13px;
  font-weight: 300;
}

.list-item:hover .select-choix {
  width: 60px;
  font-size: 20px;
}
.list-item:hover .prix {
  transform: translateX(-60px);
}
.list-item:hover .description {
  width: 60%;
}

.select-choix {
  display: flex;
  justify-content: center;
  background-color: #99e2d0;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  width: 0px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 0;
  transition: all 0.5s;
}

span.prix {
  padding-top: 13%;
  padding-right: 5px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.5s;
}

.btn-commande {
  padding: 10% 0% 10% 0%;
}

.btn-footer {
  opacity: 1;
  width: 210px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}
.btn-footer.btn-footer:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 765px) {
  span.prix {
    padding-top: 4%;
  }
}
@media screen and (min-width: 769px) {
  .header {
    justify-content: center;
    text-align: center;
  }
  .card-lik i {
    left: 40%;
  }
  .list-item {
    width: 80%;
  }
  .list-menu {
    margin-left: 30px;
  }
  .img img {
    height: 383px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    gap: 45%;
  }
  .list-menu {
    text-align: left;
    padding: 0px 0px 5px 10px;
    width: 40px;
    padding-left: 0;
    border: 3px;
    border-bottom: 3px solid #99e2d0;
    padding-top: 30px;
  }
  .card-lik i {
    top: 20%;
  }
  .carte {
    width: 80%;
    margin-left: 10%;
    padding: 0% 20% 0% 20%;
  }
  .menu h1 {
    text-align: center;
    padding-right: 30%;
  }
  .card-lik {
    position: absolute;
    left: 60%;
    top: 20px;
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span.prix {
    padding-top: 8%;
    padding-right: 6px;
  }
}
.prop {
  margin-right: 6px;
}

@media screen and (min-width: 1024px) {
  .section-footer {
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5%;
  }
  .section-footer .list-footer {
    width: 60%;
  }
  .section-footer .list-footer ul {
    padding-right: 0;
    align-items: center;
    flex-direction: row;
  }
  .section-footer .list-footer ul li {
    width: 100%;
  }
  .section-footer .list-footer ul li a {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
  }
  .footer-item {
    display: flex;
    gap: 10px;
  }
  .list-footer {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
