.section-footer {
  background: #353535;
  height: 186px;
  color: white;
  & .img {
    width: 137px;
    height: 27px;
    color: white;
    padding: 0px 0px 0px 20px;
    margin-top: 20px;
    filter: brightness(0) invert(1);
  }
}
.list-footer {
  padding: 10px 0px 0px 20px;
}
.footer-item i {
  padding-right: 3%;
}
.footer-item a {
  color: white;
}
.list-footer ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .section-footer {
    padding-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 70px 20px 00px 0px;

    & .list-footer {
      width: 60%;

      & ul {
       
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;

        & li {
         
          width: 100%;

          & a {
            width: 100%;
            display: inline-block;  
        }
      }
    }
  }
}
.footer-item{
  display: flex;
  gap: 10px;
 }
}
