.section-fonction {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  height: 370px;
}

.section-fonction h1 {
  text-align: left;
  padding: 30px 0px 30px 10px;
}
.liste-btn {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.section-fonction button {
  width: 80%;
  height: 72.38px;
  border-radius: 20px;
  @include box-shadow;
  border: none;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.btn i {
  padding-right: 10%;
  width: 18px;
  height: 17.91px;
}
button .number {
  color: white;
}
.section-fonction span {
  right: 24px;
  width: 24px;
  position: absolute;
  left: 6%;
  border-radius: 100%;
  color: white;
  background: #9356dc;
}
@media screen and (min-width: 1024px){
.section-fonction h1{
  padding-left: 10%;
}
.liste-btn{
 display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.section-fonction span{
  
  flex-direction: row;
 left: 10%;
 position: absolute ;

}
.section-fonction{
 height: 220px;
}
button.btn{
  width: 322px;
}
.section-restaurants{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
}