.section-fonction {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  height: 370px;
}

.section-fonction h2 {
  text-align: left;
  padding: 30px 0px 30px 30px;
}
.liste-btn {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.section-fonction button {
  width: 80%;
  height: 72.38px;
  border-radius: 20px;
  @include box-shadow;
  border: none;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  position: relative;
}
.btn i {
  padding-right: 8%;
  font-size: 1.5rem;
}
.btn1{
 color: #7E7E7E;
}
.btn2{
  color: #7E7E7E;
}
.btn3{
  color: $main-color5;
}
button .number {
  color: white;
}
.section-fonction span {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  border-radius: 100%;
  color: white;
  background: $main-color5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .section-fonction h1 {
    padding-left: 10%;
  }
  .liste-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .section-fonction {
    height: 220px;

  }
  button.btn {
    width: 322px;
  }
}
@media screen and (min-width: 1024px) {
  .section-fonction h1 {
    padding-left: 30px;
  }
  .liste-btn {
    display: flex;
    gap: 30px;
    width: 95%;
    padding-left: 30px;
  }
  button.btn {
    width: 100%;
  }
}
