.section-footer {
  background: #353535;
  height: 186px;
  color: white;
  & .img {
    width: 137px;
    height: 27px;
    color: white;
    padding: 0px 0px 0px 20px;
    margin-top: 20px;
    filter: brightness(0) invert(1);
  }
}
.list-footer {
  padding: 10px 0px 0px 20px;
}
.footer-item i {
  padding-right: 3%;
}
.footer-item a {
  color: white;
  font-size: 16px;
  
}
.prop{
  margin-right: 6px;
 justify-content: center;
}

  footer ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .section-footer {
    @include footer;
  }
  .footer-item {
    @include footer-it;
  }
  .section-footer .img {
    margin: 0;
    width: 139px;
    height: 27px;
  }
}
