.section-restaurants {
  background: #f6f6f6;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-restaurants h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 30px 0px 0px 20px;
  height: 68px;
  padding-right: 65%;
}
.new {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px 0px #00000026;
  position: absolute;
  right: 5%;
  top: 5%;
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #008766;
  padding: 5px 0px 5px 0px;
}
.card {
  @include box-shadow;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height: 251px;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 70%;
}
.card-content {
  border-radius: 15px;
}

.card-title {
  top: 190px;
  left: 13px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  padding: 5px 0px 0px 15px;
  color: black;
}
.card-text p {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  padding: 5px 0px 10px 15px;
  color: black;
}
.card-like {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 85%;
  top: 80%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.card-like .fa-solid.fa-heart {
  display: none;
}

.card-like :hover {
  @include color-btn;
  cursor: pointer;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-like:hover .fa-regular.fa-heart {
  display: none;
}
.card-like:hover .fa-solid.fa-heart {
  display: inline;
}
@media screen and (min-width: 769px) {
  .all-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 40px;
    width: 75%;
  }
  .card img {
    object-fit: cover;
  }
}
