
  .header{
  display: flex;
    height: 63px;
    gap: 25%;
  }
  .header .img{
      font-family: Shrikhand;
   font-style: italic;
      font-weight: 400;
    width: 162px;
  height: 44px;
  left: 16px;
  margin-top: 10px;
  }
  .header .link-header{
      width: 30px;
  height: 30px;
  text-align: left;
  text-align: center;
  padding: 20px 0px 0px 15px;
  }
  /*****section restaurant***/
 
  .img img{
    width: 100%;
  height: 275px;
}
  /*****section menu***/
  .menu{
    background: #F6F6F6;
    border-radius: 30px;
  width:  100%;
  height: 1275px;
 }
  .menu h1{
    font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px 0px 0px 10px;
  
  }
  
  .list-menu{
    padding: 15px 0px 0px 0px;
    font-family: Roboto;
  font-size: 16px;
  text-align: left;
  width: 40px;
  top: 27px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 20px;
  padding-bottom: 2px;
  margin-left: 10px;
  
  }
  .list-entrees h2{
    font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
  }
  .list-entrees {
   font-family: Roboto;
    text-align: left;
     border-radius: 15.04px;
  box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
  background: #FFFFFF;
  width: 90%;
  height: 69px;
  border: none;
  padding-left: 10px;
  margin-top: 10px;
  
  }
  .list-entrees p{
    font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
   }
  .list-entrees .prix{
   font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
  width: 25px;
  height: 25px;
   }
  
  /*********plats***********/
  
  
  
  
  
  
  
  
  
  
  
  
  